<style>
    .message {
        color: black;
        font-weight: bold;
    }

    .message-error {
        color: red;
        font-weight: bold;
    }


    .close {
        font-weight: bold;
        color: black;
        position: relative;
        top: 15px;
        float: right;
        cursor: pointer;
        margin-right: 5px;
    }
</style>
@model List<Category>
<br />
<br />
@if (ViewBag.success != null)
{
    <h1 class="alert-success text-center message">@ViewBag.success <a id="close" style="color:black" class="close">X</a></h1>
}

@if (ViewBag.error != null)
{
    <h1 class="alert-warning text-center message-error">@ViewBag.error <a id="close" style="color:black" class="close">X</a></h1>
}
<br />
<h1>Lista de categorias</h1>
<br />

<div class="row">
    <div class="col-md-1 col-sm-12">

    </div>
    <div class="col-md-10 col-sm-12">
        <table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Name</th>
                        <th>@item.Description</th>                       
                        <th>
                            <a class="btn btn-info" href="@Url.Action("Edit","Category",new {id=item.Id })">Editar</a>
                            | <a class="btn btn-danger" href="@Url.Action("Delete","Category",new {id=item.Id })">Eliminar</a>
                        </th>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-md-1 col-sm-12">

    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable();           
        });

        var close = document.querySelector("#close");
        close.addEventListener("click", closeit);

        function closeit() {
            var message = document.querySelector(".message");
            message.style.display = "none";
        }
    </script>
}
